[2013-08-03 16:40] tpitale opened #1 "Build README"
Include links to google docs
Include configuration options and getting started
Include primary usage:

Tracker.pageview('page-path', {})
Tracker.event('event-name')

[2013-08-03 16:41] tpitale opened #2 "Add timing functions"

[2013-08-03 16:45] tpitale opened #3 "Add social functions"

[2013-08-04 00:35] tpitale opened #4 "Add exception tracking"

[2013-08-04 00:35] tpitale opened #5 "Add transaction & item hits"
Ecommerce: https://developers.google.com/analytics/devguides/collection/protocol/v1/devguide#ecom

[2013-08-04 02:58] #1 closed, assigned to tpitale

[2013-08-04 03:28] #3 closed, assigned to tpitale

[2013-08-04 03:28] #4 closed, assigned to tpitale

[2013-08-05 01:37] tpitale opened #6 "Missing tracker_id returns noop tracker from Staccato.tracker"

[2013-08-05 02:17] #6 closed, assigned to tpitale

[2013-08-08 14:18] #2 closed, assigned to nobody

[2013-08-09 05:05] tpitale opened #7 "Add optional params to tracking"
We should be able to add options to tracking, like starting/stopping the session:
https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#sc

Setting the referrer (in staccato-rails):
https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#dr

Encoding and language:
https://developers.google.com/analytics/devguides/collection/protocol/v1/para

[2013-08-09 05:06] tpitale opened #8 "Marking hits as non-interactive"
Any hit type should be able to be marked as non-interactive. Useful for tracking pageviews/events in Resque/DelayedJobs, etc.

https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#ni

[2013-08-09 05:07] tpitale opened #9 "Determine tracking of Custom Dimensions and Metrics"
Should be able to pass these as options to hit types … not sure how they're used.

https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#cd[1-9][0-9]*
https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#cm[1-9][0-9]*

[2014-01-02 16:09] #8 closed, assigned to nobody

[2014-01-04 20:45] #5 closed, assigned to nobody

[2014-01-14 20:00] tpitale opened #10 "Tracking Content Experiments"
https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#experiments

[2014-01-20 15:35] #10 closed, assigned to nobody

[2014-01-22 18:19] #7 closed, assigned to nobody

[2014-01-24 20:05] #9 closed, assigned to nobody

[2014-03-12 14:04] tpitale opened #11 "Pull values available to ALL hit types into any hit"
https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters

Those parameters that are available to all hit types should be trackable on any hit.

[2014-03-19 14:18] tpitale opened #13 "Allow setting global options as defaults on a tracker"
Allow setting tracker-level default options for any of the global hit options. Something like this, maybe?

[code]

[2014-03-19 15:02] tpitale opened #14 "Properly convert all boolean options to 0 or 1"

[2014-03-19 20:43] #11 closed, assigned to nobody

[2014-03-19 21:09] #13 closed, assigned to nobody

[2014-04-25 10:29] sraach opened #16 "Extend the global options of hit.rb"
According to https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters there came in some more parameters, for example _uid_. Would be great to have them supported too.

[2014-05-12 20:28] #16 closed, assigned to nobody

[2014-06-03 12:02] aitor opened #18 "Support for ruby 1.8"
I don't know if it's against the planned roadmap for this gem, but it looks like staccato could perfectly work in ruby 1.8 if the Ruby 1.9 hash syntax is ditched, basically moving from this:

[code]

to this:

[code]

Given the main use of these hashes is to server as configuration settings and the fact that this gem is not relaying in any specific Ruby +1.9 feature or in any gem that requires Rub

[2014-06-03 12:45] #18 closed, assigned to nobody

[2014-06-05 03:55] #14 closed, assigned to nobody

[2014-06-17 20:44] sheldonhall opened #19 "Unable to update to the latest version"
For some reason the latest version of the solution cannot be updated with a bundle install

gem 'staccato', :git => 'https://github.com/medullan/staccato.git'
returns 0.0.4 only

These do not work:

gem 'staccato', :git => 'https://github.com/medullan/staccato.git', :tag => '0.1.0'

nor

gem 'staccato', :git => 'https://github.com/medullan/staccato.git', :tag => '0.1.o'

However these do work

sta

[2014-06-17 22:09] #19 closed, assigned to nobody

[2014-06-21 14:25] tpitale opened #20 "Injectable HTTP library, configurable"

[2014-08-18 21:56] skwp opened #23 "Support for Enhanced Ecommerce Parameters"
I was trying to figure out how to extend staccato to support refunds but am somewhat confused.

The refund docs are here:
https://developers.google.com/analytics/devguides/collection/protocol/v1/devguide#enhancedecom

under "Measuring Refunds"

I was unclear how to create a class that would do the right thing. My first stab looked something like this

[code]

[2015-03-17 00:43] nadavshatz commented on #23
Is this being actively worked on at the moment?

[2015-03-17 02:42] tpitale commented on #23
Not really. Just looking now to check the status.

[2015-03-17 02:43] tpitale commented on #23
I don't want to restrict Refund to being a non-interactive event only. It's unclear if it can be sent with other hit types. In addition, the unknown numeric values are annoying:

[code]

[2015-03-17 02:49] tpitale commented on #23
To fully support enhanced ecommerce:

* [ ] Measuring Impressions
* [ ] Measuring Actions
* [ ] Measuring Purchases
* [ ] Measuring Refunds
* [ ] Measuring the Checkout Process
* [ ] Measuring Internal Promotions

There's a lot of those keys with numbers in them. Google :shrugs:.

[2015-03-17 02:50] tpitale commented on #23
Also, it seems all of these can be sent with other hit types (at least `events` and `pageviews`).

[2015-03-17 02:57] tpitale commented on #23
## Product ##

Includes `pr` + `<productIndex>` +:

* id: `id`, text
* name: `nm`, text
* brand: `br`, text
* category: `ca`, text
* variant: `va`, text
* price: `pr`, currency (looks like a double?)
* quantity: `qt`, integer
* coupon code: `cc`, text
* position: `ps`, integer
* action: `pa`, text (detail, click, add, remove, checkout, checkout_option, purchase, refund)

And custom dimensions and

[2015-03-17 03:00] tpitale commented on #23
## Transaction ##

Evidently not the hit type (maybe this changed?) Includes:

* All the stuff from `Transaction`
* coupon code: `tcc`, text

[2015-03-17 03:01] tpitale commented on #23
## Checkout ##

When product action is set to 'checkout'

* step: `cos`, integer
* step option: `col`, text

[2015-03-17 03:05] tpitale commented on #23
## Product Impression ##

### List Name ##

`il` + `<listIndex>` +:

* name: `nm`

With this name we can create product impressions

`il` + `<listIndex>` + `pi` + `<productIndex>` +:

* id: `id`, text
* name: `nm`, text
* brand: `br`, text
* category: `ca`, text
* variant: `va`, text
* position: `ps`, integer
* price: `pr`, currency

And custom dimension and custom metric.

[2015-03-17 03:08] tpitale commented on #23
## Promotion ##

`promo` + `<promoIndex>` +:

* id: `id`, text
* name: `name`, text
* creative: `cr`, text
* position: `ps`, integer

And `promoa` for promotion action.

[2015-03-17 03:12] tpitale commented on #23
So, I'm going to add `pa` for product action to the list of global options. Then, I'm thinking of making classes for each of these Enhanced Ecommerce features. My intention being that they should encapsulate these parameters, and be injected into any hit.

[2015-03-17 13:26] nadavshatz commented on #23
Very interesting. Looks good. Would also be great to expose the affiliate and other params people might need. Let me know if you need any help and after you create one I can follow suite and make some others.

[2015-03-17 13:55] tpitale commented on #23
@nadavshatz Can you link to the affiliate params you're referring to?

[2015-03-17 14:00] nadavshatz commented on #23
@tpitale https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#ta

There you go.

Also - https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#tcc could be useful.

[2015-03-17 14:08] tpitale commented on #23
Both of those are in the lists above.

[2015-03-17 14:18] nadavshatz commented on #23
Gotya, sorry about the confusion.

[2015-03-17 17:56] tpitale commented on #23
No worries, I wanted to be sure I wasn't missing something.

[2015-03-17 18:00] tpitale commented on #20
Opened PR #21

[2015-03-17 18:00] #20 closed

[2015-03-23 00:21] tpitale commented on #23
@skwp @nadavshatz Please try this out! https://github.com/tpitale/staccato/pull/25

[2015-04-07 14:26] #23 closed

[2015-04-10 14:52] rickyhanna opened #27 "Incorrect product impression prefix"
https://github.com/tpitale/staccato/blob/master/lib/staccato/measurement/product_impression.rb#L14

[code]
Should be
[code]

According to this: https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#il_pi_id

I've verified that the current prefix is incorrect by manually sending the request to /debug/collect using the generated params.

[2015-04-10 15:26] tpitale commented on #27
Thanks for the PR #28.

[2015-04-10 15:26] #27 closed

[2015-04-10 15:39] tpitale opened #29 "Allow tracking over SSL"
https://developers.google.com/analytics/devguides/collection/protocol/v1/reference#endpoint

[2015-04-13 21:21] rickyhanna opened #31 "Please release the latest version"
If this is the wrong place to make this request, please let me know

[2015-04-13 21:53] tpitale commented on #31
I'm waiting on some specs from another PR. If I don't hear on that shortly I'll release without it.

[2015-04-14 15:13] tpitale commented on #31
Released v0.2.1

[2015-04-14 15:13] #31 closed

[2015-04-15 18:20] tpitale commented on #29
Resolved in #21.

[2015-04-18 17:39] #29 closed

[2015-07-01 16:23] arturoherrero opened #38 "Works with existing client-side Google Analytics cookies"
I'm considering to replace [Gabba gem][1] with Staccato and its support of Universal Analytics.

One of the things I like to do is to identify the users with the `__utma` cookie, [like Gabba is doing][2].

I'm not sure if I can accomplish something similar reading the cookie manually or with [Google Analytics Cookie Parser][3] and then setting the global option `user_id`. Does it make sense?

Than

[2015-07-02 01:44] tpitale commented on #38
I will try to take a look this weekend. Any ideas, code, suggestions welcome. Thanks!

[2015-07-03 15:46] arturoherrero commented on #38
After read the documentation, I think that we can achieve the same using the `client_id`. I'm not sure if it's going to work but looks fine.

[code]

[2015-07-04 05:19] tpitale commented on #38
Oh. Yes. The client id is analogous to the client id in the cookie.

It may or may not work due to other settings Google tracks around timestamps of pageviews. I'll be really curious to see what you find!

Closing this for now. Reopen if I can help with anything else.

[2015-07-04 05:19] #38 closed

[2015-07-04 05:20] tpitale commented on #38
If it's what gabba uses, it will likely work.

[2015-07-14 15:27] arturoherrero commented on #38
Using the `client_id` works for me after update the code in #40.

[2015-07-17 01:24] mattty commented on #38
Advice from Google is to fetch the client ID using their getter, rather than inspect the cookie manually in case of breaking changes: https://developers.google.com/analytics/devguides/collection/analyticsjs/domains

@arturoherrero - Is that a concern at all? Is it worth passing the client ID back to the sever using their getter?

[2015-07-17 04:13] tpitale commented on #38
If that's the case, you may want to capture the client id using JS, and pass it back to your Ruby code via params or some other means.

[2015-08-21 12:44] mintcore opened #43 "Requests in background-jobs"
It seems that staccato currently halts the server while sending the request to GA. Is there any reason for this or is requests in another thread something worth considering?

[2015-08-21 15:57] tpitale commented on #43
If you use something like https://github.com/httprb/http it will use threads in actors. This is much safer than just using a thread and is supported by Staccato:

1. https://github.com/tpitale/staccato#http-adapters
2. https://github.com/tpitale/staccato/blob/master/lib/staccato/adapter/http.rb

[2015-08-21 15:57] #43 closed

[2015-09-06 04:19] tpitale opened #45 "Logging tracker"
Like Noop, but logs to something like STDOUT or Rails.logger.

[2015-09-09 12:56] hugocore opened #46 "You're missing the screenview hit type"
Just to let you guys know that you're missing the 'Screenview' hit type.

Check https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#t

This is an example from my app log that uses Google Analytics for iOS:

https://ssl.google-analytics.com/collect?av=1.0&cid=UUID&tid=UA-XXXX-1&dm=x86_64&cd=Name+of+view&t=screenview&aid=com.bundle.id&ul=en-us&_u=.nteoK9L&ds=app&sr=75

[2015-09-09 14:21] tpitale commented on #46
Thanks for the heads up. I'll add that shortly.

[2015-09-09 18:33] #46 closed

[2015-09-12 00:18] tpitale opened #48 "Accept unaliased attributes"
If folks pass in a string key that isn't an alias, pass it on to google. For new attributes we haven't added to staccato yet.

[2015-09-15 20:43] tpitale commented on #45
Resolved in #49

[2015-09-15 20:43] #45 closed

[2015-09-24 19:11] sakin opened #50 "Logging causing an error"
When trying this code to take a look at what staccato is outputting

[code]

[2015-09-24 19:12] tpitale commented on #50
I'll check it out.

[2015-09-24 19:14] tpitale commented on #50
Oh, the adapters are not required by default. I'll add a not in the readme. But, you should be able to:

[code]

[2015-09-24 19:20] sakin commented on #50
Many thanks! I've been wracking my head over what I was doing wrong!

[2015-09-24 19:21] #50 closed

[2015-09-24 19:22] tpitale commented on #50
@sakin I've added to the README: https://github.com/tpitale/staccato/blob/master/README.md#logger-adapter-for-local-developmentdebugging

I hope that helps.

[2015-09-24 19:33] sakin commented on #50
Hey! I would recommend one more adjustment:

[code]

[2015-11-03 16:44] tpitale opened #52 "Add email-url generation to README"
https://developers.google.com/analytics/devguides/collection/protocol/v1/email

[2015-11-03 16:44] tpitale commented on #52
May need to add a method to support generating the URL we use in the request as a public method.

[2015-11-05 03:34] #52 closed

[2015-11-16 18:24] michaelminter commented on #48
+1

[2015-11-20 17:53] tpitale opened #56 "Investigate GTM API"
https://developers.google.com/tag-manager/api/v1/reference/?hl=en

[2015-11-20 17:58] tpitale commented on #56
GTM API only allows management of accounts, not particularly useful, or aligned with Staccato's usage.

[2015-11-20 17:58] #56 closed

[2015-12-02 02:15] wjordan opened #57 "batching"
supporting [batch](https://developers.google.com/analytics/devguides/collection/protocol/v1/devguide#batch) events using a [buffer](https://github.com/jordansissel/ruby-stud/blob/master/lib/stud/buffer.rb) pattern would be a nice addition to this library.

[2015-12-02 03:09] tpitale commented on #57
Sounds nice. I'll see what I can do. PRs welcome.

[2016-01-26 17:28] tpitale opened #61 "Debug excon in faraday in staccato"
Discovered in #60

[2016-03-08 17:19] mdere opened #62 "Ecommerce Custom Dimension"
Trying to understand how and if it  is possible to do custom dimensions for ecommerce tracker?

[2016-03-08 17:27] tpitale commented on #62
https://github.com/tpitale/staccato#custom-dimensions-and-metrics

[code]

[2016-03-08 17:27] #62 closed

[2016-03-08 17:34] tpitale commented on #62
Here's a new section in the readme: https://github.com/tpitale/staccato#building-hits

[2016-03-08 18:00] mdere commented on #62
@tpitale - ah ok. thanks

[2016-03-08 18:05] mdere commented on #62
@tpitale - Just making sure - So I was doing this at first

[code]

are there any differences with your approach vs this approach?

[2016-03-08 18:07] tpitale commented on #62
Yes. That builds and tracks the hit in one call. Does not include custom dimensions/metrics.

[2016-03-09 16:40] mdere commented on #62
@tpitale - so to make sure I understand this functionality - this will create a custom secondary dimension for the transaction?

I can find this dimension under the "Custom Variable" section of the Secondary Dimension drop down right? It should be there until GA finishes processing my transaction request right?

[2016-03-09 16:45] tpitale commented on #62
@mdere: I haven't personally used customer dimensions with transactions, so I can't answer that question. Staccato follows the spec (https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#cd_).

[2016-03-11 14:08] nicpillinger opened #63 "Enhanced ecommerce?"
Hey there, have been trying to use the gem to push some transaction information to Universal Analytics - I need to push transaction and refund data. I've created a transaction with build_transaction then added measurements for the transaction info and product but we're not getting any product info coming through in GA? Can we mimic this https://developers.google.com/analytics/devguides/collection/

[2016-03-11 15:56] tpitale commented on #63
1. The link you shared is for JS. GA does not necessarily provide the same functionality for the collection API. Here's a link to the official measurement protocol that Staccato uses: https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters

2. Here are links to the sections of the README. https://github.com/tpitale/staccato#transaction-w-product https://github.com/tpita

[2016-03-11 15:56] #63 closed

[2016-05-02 17:01] tpitale commented on #61
This is fixed in v0.4.6.

[2016-05-02 17:01] #61 closed

[2016-05-13 19:45] shadowed87 opened #66 "QUESTION - Are these requests blocking?"
The execution of these request is async?

[2016-05-14 14:44] tpitale commented on #66
Short answer: yes, it blocks.

By default, staccato uses net/http. However it supports adapters for actually sending the data. One is the HTTP gem, which provides for non-blocking io.

Obviously, to get something truly async/parallel, you'll need to be using jruby or rubinius.

[2016-05-14 14:44] #66 closed

[2016-05-20 16:27] skwp opened #67 "How to set SSL?"
https://github.com/tpitale/staccato/blob/f73535fc0e428db10f583a2f7371b2165869a224/lib/staccato.rb#L39

There appears to be a way to pass in an ssl attribute into this method but no public way to configure stacatto to use SSL. Is it defaulting to non-SSL google analytics access? Not clear from reading the code. Wanted to bring this up for discussion before doing any kind of work.

[2016-05-20 18:26] tpitale commented on #67
You could do it this way:

[code]

But, I should probably make it easier to set that.

[2016-05-20 18:31] #67 closed

[2016-05-20 18:32] tpitale commented on #67
@skwp I just release v0.4.7, which let's you pass `ssl: true` when building a new tracker.

[2016-05-20 20:21] skwp commented on #67
Awesome sauce thanks for the quick reply

[2016-09-12 18:41] jmscholen opened #68 "ERR_TOO_MANY_REDIRECTS"
Issue originally posted in the  staccoto-rails gem: https://github.com/tpitale/staccato-rails/issues/11

Reissued here:
This is the first that I have installed this gem. This is not happening on my local when I am loading the page that I am trying to have events tracked, but when I push to our staging environment and I load the page where the tracker has been placed, it redirects at the code:
trac

[2016-09-12 20:31] tpitale commented on #68
So, to continue our conversation: what is "it" that is redirecting …?

[2016-09-13 18:09] jmscholen commented on #68
Not sure what I did when I set it up last. I started from scratch today and its working great. Sorry for the foobar!

Thanks for your patience!

[2016-09-13 18:09] #68 closed

[2016-09-17 13:34] svoop opened #69 "`Staccato.as_url` does not honour tracker SSL setting"
Just found this odd behaviour while debugging:

    tracker = Staccato.tracker('UA-XXXX-Y', nil, ssl: true)   # => @ssl=true
    event = tracker.build_event(category: 'video', action: 'play', label: 'cars', value: 1)   # => @ssl=true
    Staccato.as_url(event)
    # => "http://www.google-analytics.com/collect?v=1&tid=UA-XXXX-Y&..."

IMO, the expected behaviour is `Staccato.as_url` to honour the SS

[2016-09-18 03:18] tpitale commented on #69
I've created a PR to resolve this. You should know, however, that `as_url` is really only advisable as a debugging tool. It is expected that you would call `event.track!`. I'll have to update the docs to mention `as_url` is for debugging.

[2016-09-18 03:19] #69 closed

[2016-09-18 03:23] tpitale commented on #69
Released gem v0.5.0.

[2016-09-18 11:32] svoop commented on #69
@tpitale Thanks a bunch, that was fast!

[2016-10-28 16:25] josuemontano opened #71 "Create GA worker"
Create a GA worker to track events in our GA dashboard

[2016-10-28 16:40] tpitale commented on #71
I think you may have created this in the wrong project.

[2016-10-28 16:40] #71 closed

[2016-10-28 16:54] josuemontano commented on #71
@tpitale My bad!

[2016-11-05 17:17] fernandobrito opened #72 "Asynchronously track: what should I use?"
Hello,

Just started using this gem today. Great work on it!

What do people usually use to run the tracker asynchronously? I found a ticket suggesting using a HTTP adapter that supports it (#43), but I would like to know if there would be any downside on integrating staccato with sucker_punch (already used on my project), for example. Would there be any interest on integrating it with staccato? I

[2016-11-05 18:12] tpitale commented on #72
You can just use a background job if you want to, but I suspect that's much more work. Either way, no need for code in Staccato.

[2016-11-05 18:14] tpitale commented on #72
Simply use https://github.com/httprb/http.rb and the appropriate adapter as described in the readme and you should be good to go.

[2016-11-05 18:14] #72 closed

[2016-11-05 18:19] tpitale commented on #72
https://github.com/tpitale/staccato#http-adapters

Replace "Faraday" with "HTTP". And require staccato/adapter/http

[2016-11-23 10:25] viktors opened #73 "Unrecognized paramteter '_anon_uip' found."
When I try to run the following code:

[code]

I get the following output:
[code]

It started happening on 18th Nov 2016 - looks like a change in GA API.

[2016-11-23 18:31] tpitale commented on #73
I think it's the way Json is serializing the query params &.

[2016-11-23 18:32] tpitale commented on #73
Or rather the & in the hut is encoded and I expect broken. May be a change in Ruby. I first noticed with 2.2.4.

[2016-11-23 18:45] tpitale commented on #73
@viktors Can you try the logger adapter and see if that param _anon_uip is being sent by staccato?

I can't find where in the code that is happening. It may be on GA side, or just a bad error message.

[2016-11-23 20:46] tpitale commented on #73
`D, [2016-11-23T14:45:27.543603 #86867] DEBUG -- : v=1 tid=UA-XXXXXXXX-Y cid=f5bf5b51-9ea6-49c6-b69f-2472a62622b0 t=pageview uip=127.0.0.1 dp=/`

Is what I get when I use the logger adapter. No `_anon_uip`.

[2016-11-23 20:55] tpitale commented on #73
It seems like maybe this is something GA does automatically for `uip`: https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#uip … no idea why they're rejecting the field wholesale.

[2016-11-23 20:58] tpitale commented on #73
The `hit` is still considered valid (as seen in the output shared in the issue). I don't believe there is a way for us to fix this on our end, and it should not prevent data from being tracked.

Sorry I can't do more.

[2016-11-23 20:58] #73 closed

[2016-11-23 21:03] tpitale commented on #73
To be clear, I can reproduce and I do see the same message. Regardless of ruby version (it's only the output that has the & encoding).

[2016-12-21 12:03] elsurudo opened #74 "Multiple adapters?"
I'm currently trying to debug a production issue (tracked pageviews aren't showing up in my GA account), but it seems I can either log, OR send the pageview.

Perhaps it would make sense to allow multiple adapters, with the ability to post to all of them? I also don't get the point of the ValidateAdapter, since there is no way to see the output (I thought that was the whole point of sending to the

[2016-12-21 23:45] tpitale commented on #74
Multiple adapters isn't a bad idea. PRs welcome.

[2016-12-21 23:45] tpitale commented on #74
Validation adapter output:

[code]

[code]

[2016-12-22 01:43] tpitale commented on #74
@elsurudo What do you think of that PR? It's a fairly simplistic implementation.

[2016-12-22 11:08] elsurudo commented on #74
@tpitale Nice, looks good. Just had one comment to make on the PR.

Thanks for the tip regarding the ValidateAdapter. Stupidly, I didn't think of printing the output, and was expecting there to be a log call in the adapter itself.

[2016-12-26 00:00] markcerqueira opened #76 "Not seeing events in Google Analytics"
Hi! Thanks for the awesome library! I'm having an issue and can't seem to get around it.

I set up a new "mobile app" in the Google Analytics admin panel, got the tracking id (e.g. UA-ABCDEFGH-1), added staccato to a Sinatra project, and am tracking events. Commit is [here][1].

I then go to the [Google Analytics site](https://analytics.google.com/analytics/web/#home), but don't see any events the

[2016-12-26 16:39] tpitale commented on #76
Your code is not calling staccato properly.

`tracker.track…` is not a thing. You probably want `tracker.event…`.

[2016-12-26 16:39] #76 closed

[2016-12-26 18:21] markcerqueira commented on #76
Gah! That was very dumb of me. Everything is working a-okay after that change. Thank you very much and happy holidays!

[2017-05-23 15:09] Etienne-C opened #77 "Google Analytic Real Time is wrong"
Hi,

I begin to use stacato for my Rails App, and i have all tame the same issue.
When a event is fired that automaticaly add a user in the realtime dashboard (in the screen you can see 4 users, but only 3 active pages), the adding visit seems located from Ashburn (USA) .
Is not a GA error, because i already have 30 visitors on GA realtime dashboard whereas in reality just 2 visitors were on the s

[2017-05-23 18:26] tpitale commented on #77
Unless you are proxying the IP address of the user of your site … GA see it coming from the IP of server your code is running on and does a lookup on that.

[2017-05-23 18:26] #77 closed

[2018-01-29 14:50] tpitale opened #79 "Fix CI"

[2018-02-20 11:45] Yakubiv opened #80 "Multiple products quantity"
I have a problem when creating pageview for one transaction and 4 products with quantity 1.
For some reason it creates 4 products with quantity 2, and 8 in total for transaction.

[code]

[2018-02-20 14:30] tpitale commented on #80
Not enough information to debug. It is unlikely to be an issue with staccato.

If you wish, you can share the tracking (URL) output that is generated from your pageview. https://github.com/tpitale/staccato#logger-adapter-for-local-developmentdebugging

[2018-02-21 10:12] Yakubiv commented on #80
I fixed it by removing quantity: 1 from transaction_item, the total transactions quantity is correct after that.

[2018-02-21 10:42] Yakubiv commented on #80
But it seems like item transaction creating 2 times per each product.

[2018-02-21 12:09] #80 closed

[2019-03-25 10:43] thbar opened #81 "Default adapter doesn't raise on error?"
While writing a test for an app, I realised that:

[code]

would not raise an error.

What would be the best strategy to get an error (to e.g. retry in sidekiq) in case the POST failed? (maybe using a custom adapter?)

[2019-03-25 10:49] thbar commented on #81
Ok I see that writing an adapter is quite easy, so I'll do that.

I wonder if you'd welcome a doc patch to warn that `track!` won't raise by default?

[2019-03-25 14:36] tpitale commented on #81
Yeah, staccato is a "fire-and-forget" style by default. This mirrors tools that interface with statsd, etc. We didn't want to interrupt an application if google is down, or there is a network issue.

Always happy to take a look at PRs that clarify, thank you!

I'd also be open to making something like this configurable.

[2019-03-25 14:45] tpitale commented on #81
Strange though, in reviewing the code, I'm not seeing anywhere that we catch errors. I assume they would just bubble up from the adapter.

What was the adapter you were using? The default net/http? I think that may just return a response with a 500, not raise an error. You might be able to check that response and raise yourself.

[2019-03-25 15:14] thbar commented on #81
Fire-and-forget is good usually for that indeed! Here I'm working in a background job, so I'll prefer to retry later.

Indeed I'm using the default net/http adapter, which won't raise for a 500 (but will for plenty of other cases https://stackoverflow.com/a/5370726/20302).

I'll either handle the response, or will write a quick custom adapter.

Thanks for the quick reply!

[2019-03-25 16:54] #81 closed

[2019-03-25 17:10] tpitale commented on #79
Fixed with combination of:

* https://github.com/tpitale/staccato/commit/9af1b1b285ed84e02441d2cbfe735949518ab827
* https://github.com/tpitale/staccato/commit/017f406ce92585f84216ae3d78c11e94124a5187

[2019-03-25 17:10] #79 closed

[2019-03-25 17:25] tpitale commented on #81
@thbar In further thinking about this … I would love to add an adapter for like actionjob or something. I think it could be pretty plug-and-play. Are you using Rails and/or ActiveJob?

[2019-03-25 17:58] #74 closed

[2019-03-25 18:24] tpitale commented on #48
Took a stab at this. Seems like because of the use of `Struct` for options it converts string keys to symbols. In addition, we have a current (perhaps accidental) feature where inappropriate global keys are ignored in the wrong hit type (e.g., event does not include hostname, it seems).

I'm still trying to figure out what the impact would be of dropping that accidental feature. If I can't drop it

[2019-03-25 18:24] #48 closed

[2019-03-25 18:28] thbar commented on #81
@tpitale it's a Rails app. In my case though, I prefer to use Sidekiq than ActiveJob!

FWIW, here is what I came up with, because `post_form` does not return the HTTP response:

[code]

Then later in my Sidekiq job, I do:

[code]

This makes sure that whenever the GA response is not in the 2XX range, I'll get an exception.

[2019-03-25 19:27] tpitale commented on #81
Interesting, I have been away from the ruby/rails world too long. It seems ActiveJob isn't as popular as just using the background job of your choice. Unnecessary abstraction.

[2019-04-25 08:01] gingermusketeer opened #82 "Rack middleware"
It would be great to be able to easily add rack middleware to get pageview tracking information with this gem.

Do you think it would make sense to include this?

I have something like the following at the moment:
[code]

[2019-04-25 12:31] tpitale commented on #82
I built a project like this: https://github.com/tpitale/staccato-rails. You are more than welcome to make a gem for `staccato-rack`, or a PR to `staccato-rails` to add a rack middleware option/feature would be appreciated.

I'm hoping to keep this project agnostic to other frameworks.

[2019-04-25 12:31] #82 closed

[2019-04-25 13:50] gingermusketeer commented on #82
Your rails gem looks like what I was after. Would it make sense to link to that one near the top of the read me?

Thanks for letting me know about it. I will try it out.

[2019-04-25 14:08] tpitale commented on #82
I can add something to the readme.

[2019-04-25 15:21] tpitale commented on #82
Link added: https://github.com/tpitale/staccato/commit/fb79fa0e95474cc13c5981f852ce7b3f2de44822

[2019-04-25 15:32] gingermusketeer commented on #82
Awesome 🙂

[2019-07-24 12:20] bleonard opened #83 "add_adapter"
I'm using 0.5.1 from rubbygems and getting this `undefined method 'add_adapter' for #<Staccato::Tracker:0x00007fa1a3d1a7a8>` from
[code]

I don't see `add_adapter` anywhere in the source of that download, though it is in master.
That's pretty weird. Something happen on publish?

[2019-07-24 13:15] tpitale commented on #83
It hasn't been released as a gem version yet. I guess I'll do that now.

[2019-07-24 13:20] tpitale commented on #83
Released 0.5.2.

[2019-07-24 13:20] #83 closed

[2019-07-24 14:05] bleonard commented on #83
Looking better. Thanks! 🎉

[2019-08-08 09:33] egze opened #85 "v0.5.2 is broken"
This merge fixes the issue https://github.com/tpitale/staccato/pull/84

Please release a new version.

[2019-08-08 13:24] tpitale commented on #85
https://rubygems.org/gems/staccato/versions/0.5.3

[2019-08-08 13:24] #85 closed

[2019-10-03 14:07] teralad opened #86 "Unable to send user_id with pageview and transaction."
Steps to reproduce:

[code]
The URL does not have the parameter uid.

[2019-10-03 14:48] teralad commented on #86
Created a PR for this. #87

[2019-10-03 16:12] tpitale commented on #86
`user_id` is [global](https://github.com/tpitale/staccato/blob/de2f93b5ce59a4e8eaadf6f4390ffd0db9c1642d/lib/staccato/hit.rb#L27) on a hit. You would add it when calling `build_pageview`.

[2019-10-03 16:19] tpitale commented on #86
[code]

[2019-10-03 16:19] #86 closed

[2019-10-03 16:21] tpitale commented on #86
Just for reference: https://github.com/tpitale/staccato#global-options

[2019-10-08 11:03] xyingsoft opened #88 "Unable to track transaction item's id/sku"
https://github.com/tpitale/staccato/blob/5cf8393c70e003ca35db1833f650ddf19c75f12f/lib/staccato/transaction_item.rb#L4

[code]
It seems like `id/sku` is missing for transaction item.

[2019-10-08 11:11] xyingsoft commented on #88
ah, I noticed that `code` is for sku. Thanks for your great work!

[2019-10-08 11:11] #88 closed

[2019-10-23 11:19] aleksey-alt opened #89 "forwarding to private method"
From my server logs:

[code]

[2019-10-23 12:38] tpitale commented on #89
Interesting, I haven't seen that warning before.

[2019-10-23 17:43] tpitale commented on #89
Hrm. I can't seem to reproduce (on a console) with ruby 2.6.3 and staccato 0.5.3.

`index` does not appear to be a method on `OpenStruct` (`OptionSet` is an `OpenStruct`) https://github.com/ruby/ruby/blob/master/lib/ostruct.rb

And any method created by `OpenStruct` from the initial argument hash passed in should be public. I can't find any indication otherwise either in ruby or in staccato.

It c

[2019-10-23 17:44] tpitale commented on #89
@aleksey-alt If you could, try 2.6.3? I'm not sure what else I can do. If I have time, I'll try to downgrade to 2.6.0 and see if I can reproduce.

[2019-10-24 09:08] aleksey-alt commented on #89
@tpitale We already use ruby 2.6.3:

[code]

And I created small script for reproducing the issue:

[code]

[code]

[2019-10-24 11:27] tpitale commented on #89
Oh, I see. You’re not passing in an index value. So openstructs error is confusing. It’s basically an undefined method.

I’ll try to make the error more clear.

[2019-10-24 15:57] tpitale commented on #89
Just as an example:

[code]

[2019-10-25 04:17] tpitale commented on #89
https://github.com/tpitale/staccato/commit/9eab8905c56bb89274a71fe3fa31246f39cc56ef Raises if index is nil. This should be more clear.

[2019-10-25 04:17] #89 closed

[2020-03-03 14:29] trddddd opened #90 "How to add utt to events?"
How i can add timing 'utt=' include to transaction or event?

[2020-03-03 14:35] trddddd commented on #90
its stupid monkeypatch
[code]

[2020-03-03 15:54] tpitale commented on #90
https://github.com/tpitale/staccato/blob/de2f93b5ce59a4e8eaadf6f4390ffd0db9c1642d/lib/staccato/timing.rb#L10

[2020-03-03 15:56] tpitale commented on #90
Are you saying `Timing` isn't in the list of measurements here? https://github.com/tpitale/staccato/blob/de2f93b5ce59a4e8eaadf6f4390ffd0db9c1642d/lib/staccato/measurement.rb#L16

[2020-03-03 15:57] tpitale commented on #90
`Timing` is a hit type of its own. Can you provide docs that say `utt` is a global option?

[2020-03-03 15:58] tpitale commented on #90
The docs say that `utt` is only for `Timing`: https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#utt

[2020-03-03 15:58] #90 closed

[2020-03-03 22:28] trddddd commented on #90
thanks for the explanation)

[2020-03-03 22:37] trddddd commented on #90
[hitbuilder](https://ga-dev-tools.appspot.com/hit-builder/) says that the syntax is valid if you select the type of event or pageview.
And this is a little misleading

[2020-03-03 22:54] tpitale commented on #90
I see that I can make that … I'm not sure what GA will do with that information. I can't find information in the docs that says if it would just be ignored or what.

[2020-07-20 09:38] bots-business commented on #57
What status with batching? Realy good feature. Do you need some help?
Thank you

[2020-07-20 11:18] tpitale commented on #57
There is an open PR that needs review and testing. I have a new baby at home so I don't have a lot of free time right now.

[2020-11-08 12:15] ldestrooper opened #93 "Destination page (not set)"
Hi,
We're currently using GA to track all pageviews, etc and Staccato to push the orders to GA.
However, because we redirect from our checkout -> payment provider -> confirmation page, somewhere there is a disconnect in the data for all users have "(not set") at the destination page and "(direct / none)" as the source. See also the attached screenshots.

Is there any way i can fix this because it

[2020-11-09 21:39] tpitale commented on #93
You could try saving the `client_id` in a cookie so that it links them together when the user returns from the external page …? https://github.com/tpitale/staccato#usage That's my best guess having never done this personally.

[2021-02-27 00:12] #93 closed

[2021-04-26 11:15] Startouf opened #97 "Support for Google Analytics v4"
It seems to be in alpha, but wouldn't it be easy to add support for GA4 ?

https://developers.google.com/analytics/devguides/collection/protocol/ga4

(It is referenced from the v1 protocol https://developers.google.com/analytics/devguides/collection/protocol/v1/ page)

[2021-04-27 02:10] tpitale commented on #97
I have a branch somewhere. Just haven't had time to get it to completion.

[2021-05-03 23:39] atran commented on #97
@tpitale is it simply changing the endpoint to `/mp/collect` rather than `/collect`? Or is it more involved? Would be great to see the WIP branch to perhaps fork it and assist.

[2021-05-04 00:21] atran commented on #97
Ah I see now that you have to POST a payload with different keys rather than simple URL params.

[2021-05-04 00:22] tpitale commented on #97
Perhaps. I might be conflating this with the query side in my other library Legato. 🤔

You're welcome to give it a shot.

[2021-05-04 00:23] tpitale commented on #97
It looks like this only supports POST requests, which is different. Not just a path or endpoint change.

[2021-05-04 00:24] tpitale commented on #97
Or I may have just forgotten how my own library works 😂

[2021-05-04 23:54] tpitale commented on #97
I've read through the docs a bit. This is a much bigger change to how the last protocol worked.

The list of events is extremely varied. That said, I don't think this would be impossible to integrate into the same library.

I can try to take a run at it ASAP.

[2022-01-28 15:32] FrantisekVrab commented on #97
@tpitale hi there, is there any update on this, please?

[2022-01-28 15:34] tpitale commented on #97
No update. Between COVID and parenthood, it's tough to find the time. PRs welcome!

[2022-04-27 10:24] returnv01d commented on #97
@tpitale hello, any update on this issue so far? :)
Where i can find your draft PR on this issue to try to tackle it?

[2022-04-27 16:29] tpitale commented on #97
No updates. This appears to be in Beta. I'm prioritizing support for V4 in Legato before I come back to work on this. PR's welcome, but it appears to be a non-trivial change.

[2022-05-31 16:04] yaroslav-mo commented on #97
+1 to this one. Would be great to start collecting GA4 data before they stop processing data of Universal Analytics properties on July 1, 2023

[2022-07-18 15:44] Paradoxor commented on #97
+1 can you push your branch @tpitale [tpitale](https://github.com/tpitale) than I will help finishing it.

[2022-07-20 18:10] tpitale commented on #97
No branch. Still working on Legato first.

[2022-07-21 00:12] tpitale commented on #97
V4 is wildly different. There isn't a lot to reuse here. All the events are different: https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events

[2022-07-21 14:32] yaroslav-mo commented on #97
Would you say that it is better to create a new gem for it? So that we can run Staccato and Staccato-GA4 together and have UA and GA4 data

[2022-07-21 17:30] tpitale commented on #97
I started messing around with this a little more last night since there is renewed interest. I think it could live in the same gem and be usable together.

The new event protocol is so much more simple, as compared to the v1 protocol.

[2022-07-21 17:31] tpitale commented on #97
I can probably knock out 1 or 2 of the events and push up that branch. It's really just translating the events to ruby, so anyone should be able to follow my pattern and help port that part.

[2022-07-23 00:58] tpitale commented on #97
I made some progress on this tonight. I'll try to do a little work over the weekend while my kid is napping.

[2022-07-24 01:08] tpitale commented on #97
Here's a draft I've started, for everyone watching. I'm installing ruby on my new machine, so pausing here.